# Python dependencies and environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Local databases
backend/db.json

# Node dependencies
node_modules/
frontend/node_modules/

# Production build outputs
dist/
frontend/dist/

# Local configuration files
.env
.env.local
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
